
.type{
    width: 100%;
    align-content: center;
    background-color: #61dafb;
    text-align: center;
    font-family: "Roboto Slab ExtraLight";
}

.Cards{
    background-color: #f7f7ff;
    align-items: center;
    align-self: center;
    align-content: center;
    position: center;
    child-align: middle;
}
.page-footer{
    background-color: #fe4a49;
}
.footer-copyright{
    color:white;
    background-color: black;
}
.greet{
    text-align: center;
    background-color: #f02d3a;
    color: white;
    padding: 10px;
}
